.product{
  width:10rem;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  background-color: #a9a9a9;
  box-shadow: 2px 2px 3px 2px gray;
  justify-content: center;
 align-items: center;
}

.product:hover{
  scale:0.9;
  background: gainsboro;

}

.user{
  width:20%;
  padding: 20px;
  margin: 10px;
  background-color: lightgrey;
  
  border-radius: 5%;
  box-shadow: 3px 3px 3px 4px grey;
  

}

.ui{
  justify-content: center;
 position:absolute;
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  padding: 4px;
  margin: 10px;
  
}